:root {
    --yellow: #DBC11F;
    --dark-blue: #1C3050;
    --light-blue: #C6D9F0;
    --aqua-blue: #0288D1;
    --white-text-color: #CFD8DC; /* text color in the top bar, footer, dropdown menus, ... */
}
