:root {
    --yellow: #FFC107;
    --dark-blue: #1C3050;
    --light-blue: #C6D9F0;
    --aqua-blue: #0288D1;
    --purple-blue: #3E566F;
    --dropdown-blue: #4A6484;
    --grey-blue: #435C60;
    --white-text-color: #CFD8DC; /* text color in the top bar, footer, dropdown menus, ... */
    --light-green: #deeee6;
    --white: #FFFFFF;
    --grey: #E4E4E4;
    --red: #ff0000;
    --warning-yellow: #FCF8E3;
    --black: #000000;
    
    --body-background-color: #F5F5F5;
}
