.mvr-card {
    height: 100%;
}

.mvr-card .card {
    border: none;
}

.mvr-card .card-header {
    background-color: var(--purple-blue);
    color: var(--light-blue);
    font-weight: 700;
}

.mvr-card > .card-body {
    padding: 0;
}

.mvr-card img {
    border-radius: 5px;
}

.mvr-card .title {
    font-size: 1.2em;
}

.mvr-card .summary {
    font-size: 0.87em;
    font-weight: 700;
}

.mvr-card .card-footer {
    font-size: 0.65em;
    font-weight: 700;
    background-color: transparent;
    border: none;
}

@media (max-width: 992px) {
    .mvr-card .mobile-flex-column {
        flex-direction: column;
    }
}
