.navbar {
    font-weight: 700;
}

@media only screen and (min-width:992px) {
    .navbar {
        height: 70px;
    }
}

.navbar a {
    color: #1C3050 !important;
}

    .navbar a:hover {
        color: #0288D1 !important;
    }

.dropdown-menu {
    background-color: #4A6484;
    border-bottom: 20px solid #1C3050;
    background-image: url("../../Images/lion-blue.png");
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: contain;
}

.navbar-dropdown-titles {
    color: #DBC11F !important;
    font-weight: bold;
}

.navbar-dropdown-items a {
    color: white !important;
}

.navbar-dropdown-items a:hover {
    color: white !important;
    text-decoration: underline;
}
