.navbar {
    margin-bottom: 40px;
}

.navbar .nav-link {
    font-weight: 700;
}

@media only screen and (min-width:992px) {
    .navbar {
        height: 70px;
    }
}

.navbar a {
    color: var(--dark-blue) !important;
}

.navbar a:hover {
    color: var(--aqua-blue) !important;
}

.dropdown-menu {
    background-color: var(--dropdown-blue);
    border-bottom: 20px solid var(--dark-blue);
    background-image: url("../../Images/lion-blue.png");
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: contain;
}

.navbar-dropdown-titles {
    color: var(--yellow) !important;
    font-weight: bold;
    font-size: 0.87em;
    margin-bottom: 20px;
}

.navbar-dropdown-items a {
    color: var(--white) !important;
    font-size: 0.8em;
    display: block;
    line-height: 110%;
    margin-bottom: 8px;
}

.navbar-dropdown-items a:hover {
    color: var(--white) !important;
    text-decoration: underline;
}

.search-button {
    font-size: 0.75em;
    background-color: var(--purple-blue);
    width: 135px;
}