@font-face {
    font-family: roboto;
    src: url("../../Fonts/RobotoCondensed.ttf");
}

body {
    font-size: 16px;
    font-family: roboto;
    background-color: var(--body-background-color);
}

@media only screen and (min-width:992px) {
    .full-width {
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50% !important;
    }
}

a {
    text-decoration: none;
}

/* Article */

.article {
    padding: 40px;
    background-color: var(--white);
}

.article .articleTitle {
    padding-bottom: 30px;
}

.article h3 {
    margin: 0 0 15px;
    font-size: 1.5em;
    color: var(--aqua-blue);
}

/* colors */

.color-yellow {
    color: var(--yellow)!important;
}

.bg-color-dark-blue {
    background-color: var(--dark-blue)!important;
}

.bg-color-light-blue {
    background-color: var(--light-blue);
}

/* hide the dropdown arrows (we need this in the navbar) */
.dropdown-toggle::after {
    display: none;
}

/*List arrow decoration*/
.decorator-arrow li {
    list-style-image: url("../../Images/arrow-footer.png");
}
