.vertical-nav.accordion button {
    padding: 0;
    font-weight: 700;
}

.vertical-nav.accordion .accordion-item {
    margin-bottom: 10px;
    border: unset;
}

.vertical-nav.accordion a {
    color: var(--grey-blue);
    display: block;
    margin-bottom: 5px;
}

.vertical-nav.accordion a:hover {
    color: var(--aqua-blue);
}

.vertical-nav.accordion .accordion-button:not(.collapsed) {
    background-color: transparent;
    color: var(--aqua-blue);
    box-shadow: unset;
}

/* hide arrow when the accordion is collapsed */
.vertical-nav.accordion button.accordion-button.collapsed::after {
    display: none !important;
}

/* hide the arrow when the accordion is not collapsed */
.vertical-nav.accordion button.accordion-button::after {
    display: none !important;
}