@{
    ViewBag.Title = "Home Page";
}

@*@if (Session["username"] != null)
    {
    <p>Hello, @Session["username"]</p>
    }

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        @if (Session["role"] != null && Session["role"].ToString() == "Admin")
        {
            <div class="col-md-4">
                <h2>Admin</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
        }
        else if (Session["role"] != null && Session["role"].ToString() == "User")
        {
            <div class="col-md-4">
                <h2>User</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        }
    </div>*@

<!-- Актуално и Новини -->
<div class="row">
    <div class="col">
        <div class="card mvr-card">
            <div class="card-header">
                АКТУАЛНО
            </div>
            <div class="card-body">
                <div class="card-group d-flex mobile-flex-column">
                    <!-- Информация от Дирекция "Български документи за самоличност" -->
                    <div class="card">
                        <img src="~/Content/Images/NewsAndUpdates/bulgrski-dokumenti-za-samolichnost.jpg" class="card-img-top">
                        <div class="card-body">
                            <a class="title" href="#">
                                Информация от Дирекция "Български документи за самоличност"
                            </a>
                            <p class="summary">
                                Остава графикът на дежурствата на столичните звена БДС съботните дни на месец януари
                            </p>
                        </div>
                        <div class="card-footer">
                            19 яну 2022
                        </div>
                    </div>


                    <!-- Станете партньор на МВР... -->
                    <div class="card ms-3">
                        <img src="~/Content/Images/NewsAndUpdates/stanete-partnior.jpg" class="card-img-top">
                        <div class="card-body">
                            <a class="title" href="#">
                                Станете партньор на МВР в дарителската кампания в подкрепа на децата на загиналите и пострадалите полицаи и пожарникари
                            </a>
                            <p class="summary">
                                Вярваме в незаменимия принос на медиите за популяризиране на нашата кауза
                            </p>
                        </div>
                        <div class="card-footer">
                            17 дек 2021
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mvr-card">
            <div class="card-header">
                НОВИНИ
            </div>
            <div class="card-body">
                <div class="card-group d-flex mobile-flex-column">
                    <!-- Полицията издирва 11-годишно момиче -->
                    <div class="card">
                        <img src="~/Content/Images/NewsAndUpdates/izdirva.jpg" class="card-img-top">
                        <div class="card-body">
                            <a class="title" href="#">
                                Полицията издирва 11-годишно момиче
                            </a>
                            <p class="summary">
                                Любка Серафимова Михайлова от гр. Вършец, област Монтана е в неизвестност от 22 януари
                            </p>
                        </div>
                        <div class="card-footer">
                            25 яну 2022
                        </div>
                    </div>


                    <!-- Станете партньор на МВР... -->
                    <div class="card ms-3">
                        <img src="~/Content/Images/NewsAndUpdates/specoperaciq.jpg" class="card-img-top">
                        <div class="card-body">
                            <a class="title" href="#">
                                Резултати от специализирана полицейска операция, проведена на територията на Враца
                            </a>
                            <p class="summary">
                                Спецоперацията за противодействие на престъпления, свързани с притежанието и разпространението
                                на наркотични вещеста е разследвана вчера ...
                            </p>
                        </div>
                        <div class="card-footer">
                            25 яну 2022
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- shortcuts -->
<div class="row mt-4">
    <div class="col">
        <img class="img-fluid" src="~/Content/Images/mehanizum-speshno-podpolagane.png">
    </div>
    <div class="col">
        <img class="img-fluid" src="~/Content/Images/putna-policiq.png">
    </div>
    <div class="col">
        <img class="img-fluid" src="~/Content/Images/postupvane-na-rabota.png">
    </div>
    <div class="col">
        <img class="img-fluid" src="~/Content/Images/ukrivat-se.png">
    </div>
</div>

<!-- Услуги и полезна информация -->
<div class="row mt-4">
    <div class="col">
        <div class="card mvr-card">
            <div class="card-header">
                УСЛУГИ И ПОЛЕЗНА ИНФОРМАЦИЯ
            </div>
            <div class="card-body">
                <div class="container section-information">
                    <div class="row">
                        <div class="col">
                            <h2>АДМИНИСТРАТИВНИ СПРАВКИ И УСЛУГИ</h2>
                            <ul class="decorator-arrow">
                                <li>Портал за електронни административни услуги</li>
                                <li>Справка за валидност на български лични документи</li>
                                <li>Справка за издадени и неполучени български лични документи след 29.03.2010 г.</li>
                                <li>Преглед на електронен документ</li>
                                <li>Издаване на лична карта, паспорт или свидетелство за управление на МПС за български граждани,живеещи извън пределите на Република България</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h2>ЕЛЕКТРОННИ АДМИНИСТРАТИВНИ УСЛУГИ - ПЪТНА ПОЛИЦИЯ</h2>
                            <ul class="decorator-arrow">
                                <li>Проверка на задължения по ФИШ/АУАН/НП</li>
                                <li>Издаване на дубликат на свидетелство за управление на МПС</li>
                                <li>Издаване на удостоверения за правата и наложените наказания на водач на МПС</li>
                                <li>Издаване на удостоверения за собственост на превозно средство</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h2>ПЛАЩАНЕ</h2>
                            <ul class="decorator-arrow">
                                <li>Заплащане на глоби по издаден фиш/електронен фиш</li>
                                <li>Заплащане на глоба по наказателно постановление</li>
                                <li>Образци на платежни документи, попълвани в банкова институция</li>
                                <li>Най-често допускани грешки при плащане на НП</li>
                                <li>Банкови сметки за плащане на глоби по извършени нарушения</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h2>ДРУГИ ВРЪЗКИ</h2>
                            <img class="img-fluid" src="~/Content/Images/kampanii.png">
                            <img class="img-fluid mt-1" src="~/Content/Images/kzld.png">
                            <img class="img-fluid mt-1" src="~/Content/Images/concepciappkm.png">
                            <img class="img-fluid mt-1" src="~/Content/Images/dostup-na-hora-sus-sluhovi-govorni-uvrejdaniq.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Сигнали и съвети и Профил на купувача -->
<div class="row mt-4">
    <div class="col">
        <div class="card mvr-card">
            <div class="card-header">
                СИГНАЛИ И СЪВЕТИ
            </div>
            <div class="card-body">
                <div class="container section-information">
                    <div class="row">
                        <div class="col">
                            <h2>ПОДАЙ СИГНАЛ</h2>
                            <p>
                                Ползвайте телефон 112 в случай на внезапна реална заплаха за живота, здравето,
                                сигурността или имуществото си.
                            </p>
                            <img src="~/Content/Images/112.png">
                        </div>
                        <div class="col">
                            <h2>МВР СЪВЕТВА</h2>
                            <ul class="decorator-arrow">
                                <li>Пожар</li>
                                <li>Катастрофа</li>
                                <li>Земетресение</li>
                                <li>Наводнение</li>
                                <li>Усложнена зимна обстановка</li>
                                <li>Промишлена авария</li>
                                <li>Радиационна авария</li>
                                <li>Други бедствени ситуации</li>
                                <li>COVID-19</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mvr-card">
            <div class="card-header">
                ПРОФИЛ НА КУПУВАЧА
            </div>
            <div class="card-body">
                <div class="container section-information">
                    <div class="row">
                        <div class="col">
                            <ul class="decorator-arrow">
                                <li>Възложител Министъра на вътрешните работи или упълномощено от него длъжностно лице</li>
                                <li>Възложител Дирекция “Управление на собствеността и социални дейности”</li>
                                <li>Търгове</li>
                                <li>Профили на купувача с възложител ръководители на структури по чл.37 от ЗМВР</li>
                                <li>Дирекция "Обществени поръчки"</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Достъп до информация и Мобилно приложение -->
<div class="row mt-4">
    <div class="col">
        <div class="card mvr-card">
            <div class="card-header">
                ДОСТЪП ДО ИНФОРМАЦИЯ
            </div>
            <div class="card-body">
                <div class="container section-information">
                    <div class="row">
                        <div class="col">
                            <ul class="decorator-arrow">
                                <li>Официални съобщения по чл. 61 от АПК</li>
                                <li>Други официални съобщения</li>
                                <li>Документи от служебни фондове на архива на МВР</li>
                                <li>Достъп до обществена информация</li>
                                <li>Търсене в документи</li>
                                <li>Вътрешни правила за реда и условията за сключване на договори за дарения, получаване и управление на дарения в МВР</li>
                                <li>Длъжностно лице по защита на личните данни</li>
                            </ul>
                            <img src="~/Content/Images/ne-si-sam.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mvr-card">
            <div class="card-header">
                МОБИЛНО ПРИЛОЖЕНИЕ
            </div>
            <div class="card-body">
                <div class="container section-information">
                    <div class="row">
                        <div class="col">
                            <p>
                                Бъдете във връзка с МВР по всяко време, където и да сте,
                                с официалното мобилно приложение на министерството
                            </p>
                            <img class="img-fluid" src="~/Content/Images/googleplay.png">
                            <img class="img-fluid" src="~/Content/Images/appstore.png">
                            <ul>
                                <li>Подаване на сигнал</li>
                                <li>Справки по административни услуги</li>
                                <li>Новини, Информационен бюлетин</li>
                            </ul>
                            <p>
                                Към момента мобилното приложение е в процес на обновление,
                                като хипервръзките ще работят след приключване на процеса.
                            </p>
                        </div>
                        <div class="col">
                            <img class="img-fluid" src="~/Content/Images/app-phone.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>