
@{
    ViewBag.Title = "Brexit";
}

<div class="container article">
    <div class="row">
        <div class="col-2">
            
        </div>
        <div class="col">
            <h3 class="articleTitle"></h3>
            <p class="text-center">ИНФОРМАЦИЯ ЗА БРЕКЗИТ</p>
            <p>Този раздел има за цел да предостави информация на гражданите на Обединеното кралство Великобритания и Северна Ирландия (ОК) и членовете на техните семейства, които живеят в България или ще дойдат в България по време на преходния период (до 31.12.2020 г.), предвиден съгласно Споразумението за оттегляне, относно условията за влизане и пребиваване в България след Брекзит.</p>
            <div class="row">
                <div class="col-8">
                    <div class="yellow-box">
                        <p>С приетите изменения в закона за мерките и действията по време на извънредното положение и за преодоляване на последиците, валидността на документите за пребиваване на британските граждани, чийто срок изтича в периода 13 март – 31 януари 2021 г., се удължава с шест месеца. Удължаването има действие на територията на страната за целите на пребиваването.</p>
                        <br />
                        <p>Новите разпоредби не са пречка британските граждани да отидат в съответните звена „Миграция“ по местопребиваване и да подменят настоящите си документи за пребиваване с предвидения по Споразумението за оттегляне документ (във вид на пластмасова карта) и ние ги съветваме да го направят при първа възможност.</p>
                        <br />
                        <p>В тази връзка моля да имате предвид, че по закон сте длъжни да подмените документа си преди да изтече неговия срок на валидност (удължена, съобразно посоченото в първи абзац) и във всички случаи преди края на 2021 г. – което от двете настъпи първо.</p>
                        <br />
                        <p>Британските граждани, които пристигат в България по време на преходния период, разполагат с 3-месечен срок за да се регистрират в съответните звена „Миграция“ по местоживеене и респективно - да подадат заявление за издаване на предвидения съгласно Споразумението документ.</p>
                        <br />
                        <p>При неспазване на посочените срокове може да бъдете глобени.</p>
                        <br />
                        <p>В зависимост от вида на пребиваването процедурата е следната:</p>
                        <br />
                        <b>1. За гражданите на Обединеното кралство, които притежават разрешение за ПОСТОЯННО пребиваване в Република България:</b>
                        <br />
                        <i>При явяване в звеното „Миграция“ трябва да носите националния си документ за самоличност.</i>
                        <br />
                        <i>На място ще подпишете (компютърно генерирано) заявление за издаване на документа, предвиден съгласно Споразумението за оттегляне и актовете по неговото прилагане (разрешение за пребиваване във вид на пластмасова карта).</i>
                        <br />
                        <i>Ще бъде осигурено взимането на съответните биометрични данни, съгласно изискванията на Регламент (ЕО) № 1030/2002: снимка, която ще ви бъде направена в звеното „Миграция“ и пръстов отпечатък.</i>
                        <br />
                        <i>
                            Новият документ ще ви бъде издаден в срок до 30 дни, а ако заявите бърза услуга– до 3 дни.
                        </i>
                        <br />
                        <i>
                            Ще трябва да заплатите такса, която е в размер на 18 лв. (приблизително 9 евро) за обикновена услуга и 36 лв. за бърза услуга.
                        </i>
                        <br />
                        <i>
                            Плащането може да стане на място чрез ПОС- терминал или по банков път.
                        </i>
                        <br />
                        <i>
                            При получаване на новия си документ ще трябва да върнете сегашният си документ за пребиваване.
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

