
@{
    ViewBag.Title = "EUslugi";
}

<div class="container article">
    <h3 class="articleTitle">Услуги</h3>
    <div class="accordion e-uslugi-accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <img src="~/Content/Images/EUslugiAccordion/police-baton.svg">
                    По направление на дейност "Пътна полиция"
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li><a href="#">Проверка на задължения по ФИШ и НП с възможност за извършване на плащане</a></li>
                        <li><a href="#">Промяна в регистрацията на пътно превозно средство (услугата се заявява само от нотариус)</a></li>
                        <li><a href="#">Предоставяне на право за ползване на табели с регистрационен номер по избор</a></li>
                        <li><a href="#">Издаване на удостоверение с данни за регистрирани и с прекратена регистрация превозни средства</a></li>
                        <li><a href="#">Издаване на удостоверения за правата и наложените наказания на водач на МПС</a></li>
                        <li><a href="#">Първоначално издаване на свидетелство за управление на моторно превозно средство</a></li>
                        <li><a href="#">Подмяна на свидетелство за управление на моторно превозно средство</a></li>
                        <li><a href="#">Издаване дубликат на свидетелство за управление на моторно превозно средство</a></li>
                        <li><a href="#">Издаване на дубликат на контролен талон към свидетелство за управление на моторно превозно средство</a></li>
                        <li><a href="#">Издаване на контролен талон "Водач на моторно превозно средство без наказания"</a></li>
                        <li><a href="#">Извършване на първоначална регистрация на пътно превозно средство</a></li>
                        <li><a href="#">Прекратяване на регистрацията на пътно превозно средство с писмено заявление от собственика</a></li>
                        <li><a href="#">Временно спиране от движение на пътно превозно средство по желание на собственика</a></li>
                        <li><a href="#">Пускане в движение на временно спряно пътно превозно средство</a></li>
                        <li><a href="#">Издаване на разрешение за временно движение на пътно превозно средство</a></li>
                        <li><a href="#">Издаване на дубликат на свидетелство за регистрация на пътно превозно средство</a></li>
                        <li><a href="#">Предоставяне на временни табели с регистрационен номер на лица – търговци, по смисъла на Търговския закон</a></li>
                        <li><a href="#">Монтаж на регистрационни табели и/или идентификация на превозни средства на територията на областна дирекция на МВР, различна от областната дирекция по местоотчет на превозното средство</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <img src="~/Content/Images/EUslugiAccordion/id-card.svg">
                    По направление на дейност "Български документи за самоличност"
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li><a href="#">Издаване на лични карти на български граждани</a></li>
                        <li><a href="#">Издаване на паспорти на български граждани</a></li>
                        <li><a href="#">Издаване на документи, удостоверяващи събития и факти, свързани с издаването на български лични документи за посочен период</a></li>
                        <li><a href="#">Издаване на документи, удостоверяващи събития и факти, свързани с издаването на български лични документи</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <img src="~/Content/Images/EUslugiAccordion/pistol.svg">
                    По направление на дейност "Контрол на общоопасните средства"
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li><a href="#">Издаване на разрешения за съхранение на огнестрелни оръжия и боеприпаси за тях от физически лица</a></li>
                        <li><a href="#">Промяна на разрешения за съхранение на огнестрелни оръжия и боеприпаси за тях от физически лица</a><li>
                        <li><a href="#">Издаване на разрешения за носене и употреба на огнестрелни оръжия и боеприпаси за тях</a></li>
                        <li><a href="#">Промяна на разрешения за носене и употреба на огнестрелни оръжия и боеприпаси за тях</a></li>
                        <li><a href="#">Издаване на Европейски паспорт за огнестрелни оръжия</a></li>
                        <li><a href="#">Издаване на разрешения за транспортиране при внос/износ на огнестрелни оръжия, боеприпаси, взривни вещества и пиротехнически изделия от физически и юридически лица, регистрирани като търговци</a></li>
                        <li><a href="#">Издаване на разрешения за внос и износ на огнестрелни оръжия и боеприпаси за тях от физически лица</a></li>
                        <li><a href="#">Издаване на разрешения за транзитен превоз на огнестрелни оръжия, боеприпаси, взривни вещества и пиротехнически изделия от физически и юридически лица, регистрирани като търговци</a></li>
                        <li><a href="#">Издаване на документи за транспортиране на взривни вещества за граждански цели в рамките на Европейския съюз от територията на друга държава членка до територията на Република България от физически лица</a></li>
                        <li><a href="#">Издаване на писмено съгласие за транспортиране на огнестрелни оръжия и боеприпаси за тях на територията на Република България с издадено от друга държава членка разрешение за транспортиране</a></li>
                        <li><a href="#">Издаване на разрешения за търговия с оръжия, боеприпаси, взривни вещества и пиротехнически изделия</a></li>
                        <li><a href="#">Промяна на разрешения за търговия с оръжия, боеприпаси, взривни вещества и пиротехнически изделия</a></li>
                        <li><a href="#">Допълване на разрешения за търговия с оръжия, боеприпаси, взривни вещества и пиротехнически изделия</a></li>
                        <li><a href="#">Издаване на разрешения за придобиване на огнестрелни оръжия и боеприпаси за тях от физически и юридически лица, регистрирани като търговци, от културни организации по Закона за закрила и развитие на културата и юридически лица с нестопанска цел</a></li>
                        <li><a href="#">Издаване на разрешения за съхранение на огнестрелни оръжия и боеприпаси за тях от физически и юридически лица, регистрирани като търговци, от културни организации по Закона за закрила и развитие на културата и от юридически лица с нестопанска цел</a></li>
                        <li><a href="#">Промяна на разрешения за съхранение на огнестрелни оръжия и боеприпаси за тях от физически и юридически лица, регистрирани като търговци, от културни организации по Закона за закрила и развитие на културата и от юридически лица с нестопанска цел</a></li>
                        <li><a href="#">Издаване на разрешения за транспортиране на пиротехнически изделия и взривни вещества, с изключение на взривни вещества за граждански цели, от територията на Република България до друга държава членка от физически и юридически лица, регистрирани като търговци, и от юридически лица с нестопанска цел</a></li>
                        <li><a href="#">Издаване на документи, удостоверяващи съгласието на Република България за транзитно преминаване или за изпращане на взривни вещества за граждански цели за целите на осъществяване на транспортиране в рамките на Европейския съюз</a></li>
                        <li><a href="#">Издаване на разрешения за еднократно транспортиране на огнестрелни оръжия и боеприпаси от територията на Република България до територията на друга държава членка от физически и юридически лица, регистрирани като търговци</a></li>
                        <li><a href="#">Издаване на разрешения за транспортиране на взривни вещества и пиротехнически изделия на територията на Република България от физически лица</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <img src="~/Content/Images/EUslugiAccordion/bag.svg">
                    По направление на дейност "Миграция"
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li><a href="#">Издаване на документ, удостоверяващ наличието на чуждо гражданство, обявен адрес, разрешен срок на пребиваване, за влизане, напускане или преминаване през Република България, както и за други събития и факти, свързани с пребиваването на чужденци в Република България</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <img src="~/Content/Images/EUslugiAccordion/fire-extinguisher.svg">
                    По направление на дейност "Пожарна безопасност и защита на населението"
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li><a href="#">Издаване или подновяване на документ за правоспособност за работа с флуорсъдържащи парникови газове</a></li>
                        <li><a href="#">Издаване на удостоверителни документи за възникнали произшествия и други и за предоставяне на информация за извършваната дейност</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <img src="~/Content/Images/EUslugiAccordion/police-badge.svg">
                    По направление на дейност "Частна охранителна дейност"
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li><a href="#">Издаване на лиценз за извършване на частна охранителна дейност</a></li>
                        <li><a href="#">Приемане на уведомление за сключване или прекратяване на трудов договор между лице, получило лиценз за извършване на частна охранителна дейност, и служител от неговия специализиран персонал</a></li>
                        <li><a href="#">Приемане на уведомление за поемане или снемане от охрана на обект при извършване на частна охранителна дейност</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
