
@{
    ViewBag.Title = "BoikoRashkov";
}

<div class="container article">
    <div class="row">
        <div class="col-2">
            @Html.Partial("MVR/_VerticalNav")
        </div>
        <div class="col">
            <h3 class="articleTitle">Министър на вътрешните работи</h3>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img class="img-fluid" src="~/Content/Images/BoikoRashkov.png" />
                    </div>
                    <div class="col-10">
                        <h3>Бойко Рашков</h3>
                        <p>Бойко Рашков има дългогодишен юридически стаж.</p>
                        <p>В професионалната си кариера е заемал редица отговорни държавни постове като директор на Националната следствена служба, директор на Специализираната следствена служба, член на Висшия съдебен съвет, народен представител в 39-ото Народно събрание, заместник-министър на правосъдието, председател на Националното бюро за контрол на специалните разузнавателни средства.</p>
                        <p>Той е доцент д-р по наказателен процес и ръководи Катедра "Наказателноправни науки" в Юридическия факултет на Университета за национално и световно стопанство.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

