
@{
    ViewBag.Title = "Coruption";
}

<div class="container article">
    <div class="row">
        <div class="col-2">
            @Html.Partial("MVR/_VerticalNav")
        </div>
        <div class="col">
            <p class="mb-2">Тази страница е предназначена само за подаване на сигнали за извършени престъпления, корупционно поведение, злоупотреби с власт или други неправомерни деяния от страна на <b>служители на Министерството на вътрешните работи</b>.</p>
            <p class="mb-2">Всеки гражданин или организация, както и всеки служител на МВР, може да сигнализира за извършени престъпления, корупционно поведение, злоупотреби с власт или за други незаконосъобразни или нецелесъобразни действия или бездействия на служители на Министерството на вътрешните работи, с които се засягат държавни или обществени интереси, права или законни интереси на други лица.</p>
            <p class="mb-2">При подаване на сигнал, моля да предоставите Вашите имена и точен адрес за кореспонденция с цел обратна връзка. При липса на тази информация, сигналът ще се счита за анонимен.</p>
            <p class="mb-2">Отбележете, ако желаете самоличността Ви да бъде запазена в тайна, като само в този случай анонимността Ви е гарантирана.</p>
            <p class="mb-2">За предложения и сигнали, разглеждани по реда на Глава VIII от Административнопроцесуалния кодекс - можете да прочетете тук.</p>
            <p class="mt-5 text-center">
                Сигнали за корупция или други извършени престъпления и неправомерни деяния от служители на МВР могат да се подават и на следните телефонни линии:<br />
                <br />
                - 02 / 982 22 22 за граждани<br />
                - 23525 - за служители на МВР
            </p>
        </div>
    </div>
</div>
