
@{
    ViewBag.Title = "CouncilsAndCommissions";
}

<div class="container article">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col">
            <h3 class="articleTitle">Съвети и комисии</h3>
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <ul class="decorator-arrow">
                            <li class="mb-4">
                                <a href="https://www.mvr.bg/ssp/%D0%BD%D0%B0%D1%87%D0%B0%D0%BB%D0%BE">Съвет за социално партньорство</a>
                            </li>
                            <li class="mb-4">
                                <a href="https://www.mvr.bg/nspp/%D0%BD%D0%B0%D1%87%D0%B0%D0%BB%D0%BE">Национален съвет по превенция на престъпността</a>
                            </li>
                            <li class="mb-4">
                                <a href="https://www.mvr.bg/%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D0%B5%D1%80%D1%81%D1%82%D0%B2%D0%BE%D1%82%D0%BE/%D0%B7%D0%B0-%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D0%B5%D1%80%D1%81%D1%82%D0%B2%D0%BE%D1%82%D0%BE-%D0%BD%D0%B0-%D0%B2%D1%8A%D1%82%D1%80%D0%B5%D1%88%D0%BD%D0%B8%D1%82%D0%B5-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B8/%D1%81%D1%8A%D0%B2%D0%B5%D1%82%D0%B8-%D0%B8-%D0%BA%D0%BE%D0%BC%D0%B8%D1%81%D0%B8%D0%B8/%D0%BF%D0%BE%D1%81%D1%82%D0%BE%D1%8F%D0%BD%D0%BD%D0%B0-%D0%BA%D0%BE%D0%BC%D0%B8%D1%81%D0%B8%D1%8F-%D0%BF%D0%BE-%D0%BF%D1%80%D0%B0%D0%B2%D0%B0%D1%82%D0%B0-%D0%BD%D0%B0-%D1%87%D0%BE%D0%B2%D0%B5%D0%BA%D0%B0-%D0%B8-%D0%BF%D0%BE%D0%BB%D0%B8%D1%86%D0%B5%D0%B9%D1%81%D0%BA%D0%B0%D1%82%D0%B0-%D0%B5%D1%82%D0%B8%D0%BA%D0%B0-%D0%B2-%D0%BC%D0%B2%D1%80">Постоянна комисия по правата на човека и полицейската етика в МВР</a>
                            </li>
                            <li class="mb-4">
                                <a href="https://www.mvr.bg/%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D0%B5%D1%80%D1%81%D1%82%D0%B2%D0%BE%D1%82%D0%BE/%D0%B7%D0%B0-%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D0%B5%D1%80%D1%81%D1%82%D0%B2%D0%BE%D1%82%D0%BE-%D0%BD%D0%B0-%D0%B2%D1%8A%D1%82%D1%80%D0%B5%D1%88%D0%BD%D0%B8%D1%82%D0%B5-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B8/%D1%81%D1%8A%D0%B2%D0%B5%D1%82%D0%B8-%D0%B8-%D0%BA%D0%BE%D0%BC%D0%B8%D1%81%D0%B8%D0%B8/%D0%BA%D0%BE%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D0%B0-%D0%B3%D1%80%D1%83%D0%BF%D0%B0-%D0%B7%D0%B0-%D0%BF%D0%BE%D0%B4%D0%B3%D0%BE%D1%82%D0%BE%D0%B2%D0%BA%D0%B0-%D0%BD%D0%B0-%D0%BC%D0%B2%D1%80-%D0%B7%D0%B0-%D0%B1%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D1%81%D0%BA%D0%BE%D1%82%D0%BE-%D0%BF%D1%80%D0%B5%D0%B4%D1%81%D0%B5%D0%B4%D0%B0%D1%82%D0%B5%D0%BB%D1%81%D1%82%D0%B2%D0%BE-%D0%BD%D0%B0">Координационна група за подготовка на МВР за Българското председателство на Съвета на ЕС</a>
                            </li>
                            <li class="mb-4">
                                <a href="https://www.mvr.bg/%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D0%B5%D1%80%D1%81%D1%82%D0%B2%D0%BE%D1%82%D0%BE/%D0%B7%D0%B0-%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D0%B5%D1%80%D1%81%D1%82%D0%B2%D0%BE%D1%82%D0%BE-%D0%BD%D0%B0-%D0%B2%D1%8A%D1%82%D1%80%D0%B5%D1%88%D0%BD%D0%B8%D1%82%D0%B5-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B8/%D1%81%D1%8A%D0%B2%D0%B5%D1%82%D0%B8-%D0%B8-%D0%BA%D0%BE%D0%BC%D0%B8%D1%81%D0%B8%D0%B8/%D0%B2%D0%BA%D1%81%D0%B1%D0%BA/%D0%BD%D0%B0%D1%87%D0%B0%D0%BB%D0%BE">Вътрешноведомствен координационен съвет за борба с корупцията</a>
                            </li>
                            <li class="mb-4">
                                <a href="https://www.mvr.bg/%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D0%B5%D1%80%D1%81%D1%82%D0%B2%D0%BE%D1%82%D0%BE/%D0%B7%D0%B0-%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D0%B5%D1%80%D1%81%D1%82%D0%B2%D0%BE%D1%82%D0%BE-%D0%BD%D0%B0-%D0%B2%D1%8A%D1%82%D1%80%D0%B5%D1%88%D0%BD%D0%B8%D1%82%D0%B5-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B8/%D1%81%D1%8A%D0%B2%D0%B5%D1%82%D0%B8-%D0%B8-%D0%BA%D0%BE%D0%BC%D0%B8%D1%81%D0%B8%D0%B8/%D1%81%D1%83%D1%82/%D0%BD%D0%B0%D1%87%D0%B0%D0%BB%D0%BE">Съвет по условия на труд</a>
                            </li>
                            <li class="mb-4">
                                <a href="https://www.mvr.bg/nsmgui/%D0%BD%D0%B0%D1%87%D0%B0%D0%BB%D0%BE">Национален съвет по миграция, граници, убежище и интеграция</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




