
@{
    ViewBag.Title = "History";
}

<div class="container article">
    <div class="row">
        <div class="col-2">
            @Html.Partial("MVR/_VerticalNav")
        </div>
        <div class="col">
            <h3 class="articleTitle">Историческа справка</h3>
            <p>
                Историческа справка за създаването и развитието на министерството на вътрешните работи на Република България

                Изграждането на полицейската институция в България започва след приемането на Търновската конституция /16.04.1879 г./

                С Указ № 1 от 5 юли 1879 г. на княз Александър I се създава Министерство на вътрешните работи /дела/ в състава на първото българско правителство. Първи български министър на вътрешните работи е Тодор Бурмов.

                Основните сфери на дейност на министерството са: вътрешни работи и администрация; народно здраве; ветеринарно дело; управление на пощите и телеграфите. Полицейските функции се осъществяват от административно-полицейско отделение при МВР и свързаните с него институции. В началото на ведомството са възложени и неприсъщи за него задачи: ветеринарното дело, което отпада през 1893; управлението на пощите, което свършва през 1882 г.; а през 1885 г. то се освобождава и от обществените дела.
            </p>
            <h3>Министри на вътрешните работи от основаването на Министерството /1879 г./</h3>
            <ul>
                <li>Тодор Бурмов 05.07.1879 — 24.11.1879</li>
                <li>Димитър Греков 24.11.1879 — 29.11.1879</li>
                <li>Владимир Рогге 29.11.1879 — 19.01.1880 </li>
                <li>Тодор Икономов 19.01.1880 — 24.03.1880</li>
                <li>Георги Тишев 24.03.1880 — 28.11.1880</li>
                <li>Драган Цанков 28.11.1880 — 17.12.1880; 07.09.1883 — 29.06.1884; 09.08.1886 — 12.08.1886</li>
                <li>Петко Славейков 17.12.1880 — 27.04.1881; 29.06.1884 — 31.01.1885</li>
                <li>Казимир Ернрот 27.04.1881 — 01.07.1881</li>
                <li>Арнолд Ремлинген 01.07.1881 — 31.12.1881</li>
                <li>Григор Начович 31.12.1881 — 23.06.1882</li>
                <li>Леонид Соболев 23.06.1882 — 04.04.1883</li>
                <li>Нестор Марков 04.04.1883 — 07.09.1883</li>
                <li>Никола Сукнаров 31.01.1885 — 21.03.1885</li>
                <li>Петко Каравелов 21.03.1885 — 09.08.1886</li>
                <li>Васил Радославов 12.08.1886 — 28.06.1887; 18.01.1899 — 27.11.1900; 04.07.1913 — 21.09.1915; 07.09.1916 — 21.06.1918</li>
                <li>Георги Странски 28.06.1887 — 30.08.1887</li>
                <li>Стефан Стамболов 30.08.1887 — 19.05.1894</li>
                <li>Константин Стоилов 19.05.1894 — 01.11.1896</li>
                <li>Найден Бенев 01.11.1896 — 18.01.1899</li>
                <li>Рачо Петров 27.11.1900 — 19.02.1901</li>
                <li>Михаил Сарафов 19.02.1901 — 09.03.1902</li>
                <li>Александър Люцканов 09.03.1902 — 05.05.1903; 16.03.1911 — 01.06.1913</li>
                <li>Димитър Петков 05.05.1903 — 26.02.1907</li>
                <li>Никола Генадиев 27.02.1907 — 03.03.1907</li>
                <li>Петър Гудев 03.03.1907 — 16.01.1908</li>
                <li>Михаил Такев 16.01.1908 — 05.09.1910; 21.06.1918 — 28.11.1918</li>
                <li>Никола Мушанов 05.09.1910 — 16.03.1911; 28.11.1918 — 07.05.1919; 29.06.1931 — 12.10.1931</li>
                <li>Михаил Маджаров 01.06.1913 — 04.07.1913</li>
                <li>Христо Попов 21.09.1915 — 07.09.1916</li>
                <li>Кръстю Пастухов 07.05.1919 — 06.10.1919</li>
                <li>Александър Димитров 06.10.1919 — 24.06.1921</li>
                <li>Константин Томов 24.06.1921 — 09.11.1921</li>
                <li>Александър Радолов 09.11.1921 — 05.01.1922</li>
                <li>Райко Даскалов 05.01.1922— 09.02.1923</li>
                <li>Александър Оббов 09.02.1923 — 12.03.1923</li>
                <li>Христо Стоянов 12.03.1923 — 09.06.1923</li>
                <li>Иван Русев 09.06.1923 — 04.01.1926</li>
                <li>Андрей Ляпчев 04.01.1926 — 29.06.1931</li>
                <li>Александър Гиргинов 12.10.1931 — 19.05.1934</li>
                <li>Петър Мидилев 19.05.1934 — 22.01.1935</li>
                <li>Крум Колев 22.01.1935 — 21.04.1935</li>
                <li>Рашко Атанасов 21.04.1935 — 23.11.1935</li>
                <li>Георги Сапов 23.11.1935 — 04.07.1936</li>
                <li>Иван Красновски 04.07.1936 — 24.01.1938</li>
                <li>Николай Николаев 24.01.1938 — 14.11.1938</li>
                <li>Никола Недев 14.11.1938 — 15.02.1940</li>
                <li>Петър Габровски 15.02.1940 — 14.09.1943</li>
                <li>Дочо Христов 14.09.1943 — 01.06.1944</li>
                <li>Александър Станишев 01.06.1944 — 02.09.1944</li>
                <li>Вергил Димов 02.09.1944 — 09.09.1944</li>
                <li>Антон Югов 09.09.1944 — 06.08.1949</li>
                <li>Руси Христозов 06.08.1949 — 06.01.1954</li>
                <li>Георги Цанков 06.01.1954 — 17.03.1962</li>
                <li>Дико Диков 17.03.1962 — 27.12.1968</li>
                <li>Ангел Солаков 27.12.1968 — 09.07.1971</li>
                <li>Ангел Цанев 09.07.1971 — 07.04.1973</li>
                <li>Димитър Стоянов 07.04.1973 — 15.12.1988</li>
                <li>Георги Танев 15.12.1988 — 27.12.1989</li>
                <li>Атанас Семерджиев 27.12.1989 — 22.09.1990</li>
                <li>Пенчо Пенев 22.09.1990 — 20.12.1990</li>
                <li>Христо Данов 20.12.1990 — 08.11.1991</li>
                <li>Йордан Соколов 08.11.1991 — 30.12.1992</li>
                <li>Виктор Михайлов 30.12.1992 — 16.10.1994</li>
                <li>Чавдар Червенков 17.10.1994 — 26.01.1995</li>
                <li>Любомир Начев 26.01.1995 — 10.05.1996</li>
                <li>Николай Добрев 10.05.1996 — 12.02.1997</li>
                <li>Богомил Бонев 12.02.1997 — м.12.1999</li>
                <li>Емануил Йорданов м.12.1999 — 24.07.2001</li>
                <li>Георги Петканов 24.07.2001 - 17.08.2005</li>
                <li>Румен Петков 17.08.2005 - 24.04.2008</li>
                <li>Михаил Миков 24.04.2008 - 27.07.2009</li>
                <li>Цветан Цветанов 27.07.2009 - 13.03.2013</li>
                <li>Петя Първанова 13.03.2013 - 29.05.2013</li>
                <li>Цветлин Йовчев 29.05.2013 - 06.08.2014</li>
                <li>Йордан Бакалов 06.08.2014 - 07.11.2014</li>
                <li>Веселин Вучков 07.11.2014 - 11.03.2015</li>
                <li>Румяна Бъчварова 11.03.2015 - 27.01.2017</li>
                <li>Пламен Узунов 27.01.2017 - 04.05.2017</li>
                <li>Валентин Радев 04.05.2017 - 20.09.2018</li>
                <li>Младен Маринов 20.09.2018 - 24.07.2020</li>
                <li>Христо Терзийски 24.07.2020 - 12.05.2021</li>
                <li>Бойко Рашков 12.05.2021</li>
            </ul>
            <img class="pb-4" src="~/Content/Images/MVRMinisters/1-тодор-брумов.jpg" /> Тодор Бурмов /05.07.1879 — 24.11.1879/ <br />
            <img class="pb-4" src="~/Content/Images/MVRMinisters/2-драганцанков.jpg" /> Драган Цанков /28.11.1880 — 17.12.1880/ <br />
            <img class="pb-4" src="~/Content/Images/MVRMinisters/3-петкоцлавейков.jpg" /> Петко Славейков /17.12.1880 — 27.04.1881/ <br />
            <img class="pb-4" src="~/Content/Images/MVRMinisters/4-петкокаравелов.jpg" /> Петко Каравелов /21.03.1885 — 09.08.1886/ <br />
            <img class="pb-4" src="~/Content/Images/MVRMinisters/5-василрадославов.jpg" /> Васил Радославов /12.08.1886 — 28.06.1887/ <br />
            <img class="pb-4" src="~/Content/Images/MVRMinisters/6-стефанстамболов.jpg" /> Стефан Стамболов /30.08.1887 — 19.05.1894/ <br />
            <img class="pb-4" src="~/Content/Images/MVRMinisters/7-константинстоилов.jpg" /> Константин Стоилов /19.05.1894 — 01.11.1896/ <br />
            <img class="pb-4" src="~/Content/Images/MVRMinisters/8-андрейляпчев.jpg" /> Андрей Ляпчев /04.01.1926 — 29.06.1931/ <br />
            <img class="pb-4" src="~/Content/Images/MVRMinisters/9-александърстанишев.jpg" /> Александър Станишев /01.06.1944 — 02.09.1944/ <br />
            <img class="pb-4" src="~/Content/Images/MVRMinisters/10-антонюгов.jpg" /> Антон Югов /09.09.1944 — 06.08.1949/ <br />
        </div>
    </div>
</div>

