
@{
    ViewBag.Title = "Museum";
}

<div class="container article">
    <div class="row">
        <div class="col-2">
            @Html.Partial("MVR/_VerticalNav")
        </div>
        <div class="col">
            <h3 class="articleTitle">
                Презентация на Музея на Министерството на вътрешните работи
            </h3>
            <img class="мb-4" src="~/Content/Images/Museum.jpg" />
            <p><b>Телефони за контакт:</b> 982 33 42/ 982 33 38 </p>
            <p><b>e-mail:</b> museum-sadia@mvr.bg </p>

            <p style="color:red"><b>Експозицията е затворена за посетители, поради извършване на ремонтни дейности на сградата.</b></p>

            <div class="row">
                <div class="col-3">
                    <b>Работно време за посетители:</b>
                </div>
                <div class="col">
                    <b> понеделник от 09 ч. – 17 ч. </b> <br />
                    <b> вторник от 09 ч. – 17 ч. </b> <br />
                    <b> сряда от 09 ч. – 17 ч. </b> <br />
                    <b> четвъртък от 09 ч. – 17 ч. </b> <br />
                    <b> петък от 09 ч. – 17 ч. </b> <br />
                    <b> събота и неделя - затворено </b> <br />
                </div>
            </div>
        </div>
    </div>
</div>

