
@{
    ViewBag.Title = "NormativeActs";
}

<div class="container article">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col">
            <h3>Нормативни актове</h3>
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <p>Кодекси</p>
                        <p>Закони</p>
                        <p>Постановления</p>
                        <p>Правилници</p>
                        <p>Наредби</p>
                        <p>Тарифи</p>
                        <p>Укази</p>
                        <p>Нормативни актове по направление на дейност</p>
                    </div>
                </div>
            </div>
            <h3>Проекти на нормативни актове</h3>
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <p>Законопроекти</p>
                        <p>Проекти</p>
                        <p>Резултати от обществени консултации</p>
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>


