
@{
    ViewBag.Title = "PoliticalCabinet";
}

<div class="container article">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col">
            <h3 class="articleTitle">Заместник-министър на вътрешните работи</h3>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img class="img-fluid" src="~/Content/Images/Temelakiev.png" />
                    </div>
                    <div class="col-10">
                        <h3>Стоян Славчев Темелакиев</h3>
                        <p>Роден на 21.02.1967 г. в село Стоб, община Кочериново, област Кюстендил</p>
                        <p class="fw-bold">Образование:</p>
                        <p>1995 г. – магистърска степен специалност “Начална педагогика” с квалификация „Начален учител по физическо възпитание“ в ЮЗУ „Неофит Рилски“, Благоевград;</p>
                        <p>2013 г.  – магистърска степен специалност „Право“ в ЮЗУ „Неофит Рилски“, Благоевград</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Преминал курсове за повишаване на квалификацията във ВИПОНД, АМВР, както и курсове в САЩ, Австрия, Румъния, Испания, Португалия, Унгария, Гърция и Македония;</p>
                        <p class="fw-bold">Професионален опит:</p>
                        <p>От 1996г. заема изпълнителски и ръководни длъжности в структурата на МВР, сред които  полицейски командир и разузнавач, началник на сектор в ГДБОП, началник на отдел в ДАНС, зам.-директор на дирекция в ДАНС.</p>
                        <p>От възстановяването на ГДБОП в МВР заема длъжността заместник-директор на Главна дирекция „Борба с организираната престъпност“.</p>
                        <p>От  22 юли 2020 г. със заповед на министъра на вътрешните работи е назначен за заместник главен секретар на МВР.</p>
                        <p>Със заповед на министър-председателя, от 23 декември 2021 г. е назначен за заместник-министър на вътрешните работи.</p>
                    </div>
                </div>
            </div>
            <h3 class="articleTitle">Заместник-министър на вътрешните работи</h3>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img class="img-fluid" src="~/Content/Images/Raicheva.png" />
                    </div>
                    <div class="col-10">
                        <h3>Таня Райчева</h3>
                        <p>От началото на септември т.г. до момента - консултант по правни въпроси в МВР.</p>
                        <p>В периода май-август 2021 г. - консултант по правни въпроси на политическия кабинет на заместник министър-председателя по обществен ред и сигурност и министър на вътрешните работи.</p>
                        <p>От 2010 г. до 2021 г. - съдружник и управител в адвокатско дружество.</p>
                        <p>От 1999 г. до 2010 г. - учредител и съдружник в адвокатска кантора.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Работи като адвокат от 1993 г.</p>
                        <p>През 1992 г. придобива образователно-квалификационна степен „магистър“ по право от СУ „Климент Охридски“.</p>
                        <p>Назначена е за служебен заместник-министър на вътрешните работи със заповед на служебния министър-председател на Република България Стефан Янев.</p>
                        <h3>Началник на политическия кабинет на министъра на вътрешните работи</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

