
@{
    ViewBag.Title = "Uniforms";
}

<div class="container article">
    <div class="row">
        <div class="col-2">
            @Html.Partial("MVR/_VerticalNav")
        </div>
        <div class="col">
            <h3 class="articleTitle">УНИФОРМИ И ОТЛИЧИТЕЛНИ ЗНАЦИ</h3>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="gallery">
                            <div class="preview">
                                <img class="img-fluid" id="preview" src="~/Content/Images/Gallery/uniform_1.jpg"/>
                            </div>
                            <div id="thumbnails" class="thumbnails">
                                <img src="~/Content/Images/Gallery/uniform_1.jpg" onclick="displayImage(this)" />
                                <img src="~/Content/Images/Gallery/uniform_2.jpg" onclick="displayImage(this)" />
                                <img src="~/Content/Images/Gallery/uniform_3.jpg" onclick="displayImage(this)" />
                                <img src="~/Content/Images/Gallery/uniform_4.jpg" onclick="displayImage(this)" />
                                <img src="~/Content/Images/Gallery/uniform_5.jpg" onclick="displayImage(this)" />
                                <img src="~/Content/Images/Gallery/uniform_6.jpg" onclick="displayImage(this)" />
                                <img src="~/Content/Images/Gallery/uniform_7.jpg" onclick="displayImage(this)" />
                                <img src="~/Content/Images/Gallery/uniform_8.jpg" onclick="displayImage(this)" />
                                <img src="~/Content/Images/Gallery/uniform_9.jpg" onclick="displayImage(this)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
